* {
    padding: 0;
    margin: 0;
}

a {
    list-style: none;
    text-decoration: none;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(./img/imgg.jpg);

}

nav {
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 90px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid #a5a5a5;
    position: fixed;
    z-index: 200;
}

nav ul {
    display: flex;
    float: right;
}

nav ul li a {
    line-height: 90px;
    color: #fff;
    padding: 22px 20px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: customfont;
    list-style: none;
}

nav ul li input {
    margin: 22px 30px;
    padding: 5px;

}


.logo {
    padding: 12px 20px;
    height: 80px;
    float: left;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(229, 9, 20);
    font-family: customfont;
}

.imgg img {
    border-radius: 5px;
}

.avarage {
    display: flex;
    justify-content: space-between;
}

.avarage p {
    font-size: 14px;
    background-color: #DBA506;
    padding: 5px 5px;
    border-radius: 5px;
}

.cards2 {
    display: flex;
    flex-direction: column;

}

.card {
    padding: 150px 200px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: transparent;
    gap: 60px;

}

#bir {
    border-radius: 5px;
    padding: 20px;
    background-color: #1d1d1d;
    color: aliceblue;
    height: 530px;
}

.avarage h5 {
    font-size: 15px;
}

.avarage p {
    font-size: 14px;
}

.button {

    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -100px;
}

.movieCard {
    position: relative;
    overflow: hidden;

}

.movieCard:hover .overlay {
    opacity: 1;
    transform: scale(1.2);
}

.overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(1.3);
    opacity: 0;
    transition: transform 0.4s ease 0s, opacity 0.4s ease 0s;
}

.overlay span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 24px;
    color: #fff;
    font-family: Sans-serif;
}


.button button {
    padding: 20px 60px;
    cursor: pointer;
}

/* 2ci sayfa */
.sectiondtl {

    width: 100%;
    padding-top: 15%;
}

.tamdetail {
    width: 100%;
    height: 100vh;
}

.dtl {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dtl1 {
    width: 50%;
}

.salamm1 h1 {

    color: #fff;
    font-size: 24px;
    font-weight: 500;
    line-height: 60px;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif
}

.dtl1 span {
    color: #a3a3a3;
    font-size: 20px;
    font-weight: 400;
    line-height: 50px;
}

.div1 .spann {
    color: #fff;
}



.salamm1 {
    width: 80%;
    margin-left: 20%;

}

.span1 {
    color: #a3a3a3;
    font-size: 16px;
    font-weight: 400;

    margin-right: 5px;
}

.dtl1 p {
    color: #fff;
    font-size: 17.6px;
    font-weight: 400;
    line-height: 22px;
    max-width: 100%;
}

.dtl2 {
    width: 54%;
}

.img3 img {
    background-position: center;
    background-size: cover;
    width: 450px;
    height: 450px;
    padding-left: 20%;
}

#sortSelect {
    width: 40%;
    margin: 0 30%;
    margin-top: 10%;
}